html
{
	height:100%;
	box-sizing:border-box;
}

body
{
	font-family: 'Merriweather', serif;	
}

#chat-info, #users-display
{
	height:250px;
}

#title-div, #chat-form, #signInForm, #createAccountForm
{
	background:#d5d7eb;
}

form a
{
	color:#692850;
}

a
{
	text-decoration:none;
}