html
{
	height:100%;
	box-sizing:border-box;
}

body
{
	font-family: 'Merriweather', serif;	
}

#chat-info, #users-display
{
	height:250px;
}

#main
{
	background:#fffdfa;
}

#title-div, #chat-form, #signInForm, #createAccountForm
{
	background:radial-gradient(#fff,#e3ceb3);
}

form a
{
	color:#332510;
}

button, input[type='submit']
{
	background:#332510;
}

a
{
	text-decoration:none;
}